nav {
  height: 120px;
  color: #ffff;
  background-color: #4056a1;
  padding: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
}

body {
  padding-top: 90px;
}

.write-tweet:hover {
  color: black;
}

.title {
  font-family: "Bungee", sans-serif;
  font-size: 35pt;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow {
  color: red;
  margin-top: 8px;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
