nav {
  height: 120px;
  color: #ffff;
  background-color: #4056a1;
  padding: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.title {
  font-family: "Bungee", sans-serif;
  font-size: 35pt;
}

.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
