.new-tweet {
  background-color: rgb(188, 189, 196);
  margin-top: 10px;
  display: flex;
  padding: 10px;
}

.tweet-form {
  width: 100%;
}

.tweet-label {
  color: black;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}

#tweet-button {
  font-family: "Bungee", sans-serif;
  color: white;
  background-color: #4056a1;
}

.counter {
  font-family: "Bungee", sans-serif;
  font-size: 15pt;
  float: right;
}
