.tweet-container {
  background-color: rgb(197, 198, 204);
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid black;
}

.tweet-section {
  background-color: rgb(231, 232, 236);
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.tweet-container:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

header.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-content {
  border-bottom: 3px solid black;
  color: black;
  padding-bottom: 10px;
  font-weight: bold;
}

footer.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.tweet-icons {
  color: black;
}

.tweet-icons:hover {
  color: yellow;
}

#tweet-name {
  color: black;
}

#tweet-avatar {
  width: 40px;
  height: 40px;
}

#tweet-handle {
  color: black;
  opacity: 0.3;
}
